langchain-core==1.2.24
langchain-groq==1.1.2
langchain-ollama==1.1.0
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-text-splitters==1.1.1
langgraph==1.1.6
langgraph-prebuilt==1.0.9
chromadb==1.5.7
ollama==0.6.1
groq==1.1.2
pypdf==6.9.2
python-dotenv==1.2.2